*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background: url(rainbow-1149610_1920.jpg) center center fixed;
    background-size: cover;
    font-family: 'Arvo', serif;
    color: #fff;
}
.jumbotron{
    background: transparent;
}
.jumbotron h1{
    letter-spacing: 2.5px;
}
.jumbotron h1 , .jumbotron p{
    text-align: center;
}
#googlemap{
    width: 100%;
    height: 250px;
    margin: 5px;
}
#output{
    text-align: center;
    font-size: 1em;
    max-resolution: 20px auto;
}